asgiref
Django
django-cors-headers
django-dotenv
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
tzdata
imutils
opencv-python
keras 
tensorflow
django-cors-headers
Pillow
django-environ
drf-spectacular
drf_spectacular_sidecar
simpleaudio